html {
    font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.login-card {
  min-width: 275;
  margin-left: 38%;
  margin-right: 45%;
  margin-top: 10%;
}

.login-title {
  font-size: 14;
}

.login-pos {
  margin-bottom: 12;
}

.mrgnTp20 {
  margin-top: 20px;
  margin-left: 20%;
}